<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        {% for class in classes %}
        <table>
            <tbody>
                <tr>
                    <td>Name: Tr Frank</td>
                    <td>Class: {{ class.name }}</td>
                    <td>Week: {{ week.number }}</td>
                    <td>Dates: {{ week.start_date }} - {{ week.end_date }}</td>
                </tr>
                <tr>
                    <td colspan="4">Weekly Objectives: {{ class.weekly_objective }}</td>
                </tr>
            </tbody>
        </table>
        {% for day in class.days %}
        <!-- Replicate as many times as needed for this class. -->
        <table>
            <tbody>
                <thead>
                    <tr>
                        <th colspan="4">{{ day.weekday_name }}</td>
                    </tr>
                </thead>
                <!-- Replicate from here as many times as needed for a weekday. -->
                {% for period in day.periods %}
                <tr class="class-row1">
                    <td>Class: {{ class.name }}</td>
                    <td>Subject: {{ period.subject }}</td>
                    <td>Time: {{ period.start_time }} - {{ period.end_time }}</td>
                    <td>Pages: SB {{ period.student_book }} WB {{ period.workbook }}</td>
                </tr>
                <tr class="class-row2">
                    <td colspan="4">Objectives: {{ period.objectives }}</td>
                </tr>
                {% for activity in period.activities %}
                <tr>
                    <td>({{activity.time}}) {{ activity.name }} </td>
                    <td colspan="3"> {{ activity.detail }} </td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="4">Materials {{ period.materials }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endfor %}
        {% endfor %}
    </body>
</html>